:root {
  --font-primary: 'Poppins', sans-serif;
  --color-text: hsl(234.3, 12%, 34.3%);
  --color-supervisor: hsl(180, 62%, 55%);
  --color-team:  hsl(0, 78%, 62%);
  --color-karma: hsl(34, 97%, 64%);
  --color-calculator: hsl(212, 86%, 64%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--font-primary);
}

body, header {
  background-color: hsl(0, 0%, 94.9%);
}

p {
  opacity: 0.5;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  color: var(--color-text);
  padding: 80px 32px;
}

header {
  margin-bottom: 76px;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
  font-weight: 275;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.166667px;
}

header h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.166667px;
}

header p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.104167px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 311px;
  height: 222px;
  margin-top: 24px;
  padding: 28px;
  background: hsl(0, 0%, 100%);
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
}

.card h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 1px;
}

.card p {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.0902778px;
}

.card img {
  width: 57px;
  height: 57px;
  margin-top: auto;
  margin-left: auto;
}

.supervisor {
  
  border-top: 4px solid var(--color-supervisor);
}

.team {
  border-top: 4px solid var(--color-team);
}

.karma {
  border-top: 4px solid var(--color-karma);
}

.calculator {
  border-top: 4px solid var(--color-calculator);
}